html { 
    box-sizing: border-box; /* ej: tenemos un div de 250px, luego agregamos un width y luego un padding al div, esto deberia resultar que el div crece, pero al poner esta propiedad hacemos que no se modifique el tamaño del elemento y quede siempre de 250px en total con lo que le hayamos agregado */
    font-size: 62.5%; /*Esto es un pequeño hack para que cada REM sea = a 10px, entonces es mas simple calcular los REM a usar.*/
}
 
*, *:before, *:after {
    box-sizing: inherit;
}
 
body {
    font-family: 'Raleway', sans-serif; /*esta es la fuente que vamos a utilizar en los proyectos y tambien se importan en el head del HTML */
    font-size: 1.6rem; 
    line-height: 2; /*este es el tamaño del interlineado entro oracion y oracion de un parrafo*/
}
 
/* Globales */
 
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
 
h1 {
    font-size: 5rem;
}
 
h2 {
    font-size: 4rem;
}
 
h3 {
    font-size: 3rem;
}
 
a {
    text-decoration: none;
    color: #000;
}
 
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /* esto es para centrar el nav */
}
 
img {
    max-width: 100%; /* esto dice que la imagen va tomar todo el espacio disponible del div y no mas aunque la img sea mas grande, si el div crece la img tambien y viceversa */
    display: block; /*ponemos este display en las img para que no haya nada de separacion con el enlace */
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #769c02;
}

/* Utilidades */

.text-center {
    text-align: center;
}
 
/* Header y Navegación */
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}
 
.nombre-sitio span {
    color: #037bc0;
}
 
.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}
 
.nav-principal {
    padding: 2rem 0px;
    display: flex;
    justify-content: space-between;
}
 
.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}
 
/* Categorías */
 
.categorias {
    padding-top: 5rem;
}
 
.categorias h2 {
    text-align: center;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
 
.categoria a:hover{
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 1rem;
}
 
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
 
/* Bloque Sobre Nosotros */
 
.sobre-nosotros {
   background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
   padding: 10rem 0;
   background-repeat: no-repeat;
   background-position: left center ;
   background-size: 100%, 80rem; 
}
 
.sobre-nosotros-position {
    display: flex;
    justify-content: flex-end;
}
 
.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}

/* forma de ubicar y alinear el texto de "sobre nosotros" con Grid
.sobre-nosotros-position {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem; /* esto es para separar el texto 
}
 
.texto-nosotros {
    padding-left: 10rem (usualmente no se usa padding en CSS grid) 
    grid-column: 2 / 3;
}
*/

/* Listado de productos */

.contenido-principal{
    padding-top: 5rem;
 }

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7; 
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 45rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4; 
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7; 
}

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3; 
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5; 
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7; 
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/* .producto img {
    transition: transform .3s ease-out; 
}

.producto img:hover {
    transform: scale(.8); 
} */

/* Footer */

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: .5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}