html { 
    box-sizing: border-box; /* ej: tenemos un div de 250px, luego agregamos un width y luego un padding al div, esto deberia resultar que el div crece, pero al poner esta propiedad hacemos que no se modifique el tamaño del elemento y quede siempre de 250px en total con lo que le hayamos agregado */
    font-size: 62.5%; /*Esto es un pequeño hack para que cada REM sea = a 10px, entonces es mas simple calcular los REM a usar.*/
    height: 100vh; /* esto hace que al final de la pagina no quede un especio blanco y el color del footer llegue hasta el final de la vista*/
}
 
*, *:before, *:after {
    box-sizing: inherit;
}
 
body {
    font-family: 'Nunito', sans-serif; /*esta es la fuente que vamos a utilizar en los proyectos y tambien se importan en el head del HTML */
    font-size: 1.6rem; 
    line-height: 2; /*este es el tamaño del interlineado entro oracion y oracion de un parrafo*/
}
 
/* Globales */
 
h1, h2, h3 {
    font-family: 'Catamaran', sans-serif;
    margin: 0 0 5rem 0; /*Los rem para mostrar su tamaño, toman en consideracion el tamaño que hayamos especificado en el HTML, como pusimos un normalize sin especificar nada, toma como por defecto 16px, entonces, sin especificar nada en el HTML 1 rem seria = a 16px */
}
 
h1 {
    font-size: 5rem;
}
 
h2 {
    font-size: 4rem;
}
 
h3 {
    font-size: 3rem;
}
 
a {
    text-decoration: none;
    color: #000;
}
 
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /* esto es para centrar el nav */
}
 
img {
    max-width: 100%; /* esto dice que la imagen va tomar todo el espacio disponible del div y no mas aunque la img sea mas grande, si el div crece la img tambien y viceversa */
    display: block; /*ponemos este display en las img para que no haya nada de separacion con el enlace */
}
 
.btn {
    color: #fff;
    background-color: #8cbc00;
    display: block; /* esta propiedad hace que el elemento ocupe todo el ancho de la pantalla */
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color 0.3s ease-out;
    text-align: center;
}
 
.btn:hover {
    background-color: #769c02;
}
 
 
/* Utilidades */ 
/* (a estas utilidades se le da un nombre con que lo que hacen y suelen tener una sola propiedad y un solo valor) */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}
 
/* Header y Navegacion */
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}
 
.nombre-sitio span {
    color: #037bc0;
}
 
.contenedor-navegacion { /* este div solo lo usamos para que el borde del nav vaya hasta las orillas y llene toda la pagina */
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 0.1rem;
    /* atajo de border: border-top: 1px solid #e1e1e1 ( primero va el ancho, luego el tipo y luego el color)*/
}
 
.nav-principal { /* esta es la forma de llamar a una class */
    padding: 2rem 0 2rem 0; /* atajo de padding, leerlo como un reloj, arriba - derecha - abajo - izquierda */
    display: flex; /*hay que seleccionar el padre, porque flex solo afecta al primer nivel de hijo */
    justify-content: space-between;
}
 
h1 {
    color: #000;
}
 
.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
 
/* Categorias */
 
.categorias {
    margin-top: 5rem;
}
 
.categoria a { /* los enlaces con por defecto in line, entonces no podemos alinearlos sin antes pasarlos a block*/
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
 
.categoria a:hover { /* esto es un pseudo selector */
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
 
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* cada fr es una fraccion, es decir, el total se divide en la cantidad de fracciones que hayamos dado */
    gap: 2rem;
}
 
/* Bloque Sobre Nosotros */
 
.sobre-nosotros {
   /* background-image: linear-gradient( to right, #000 50%, #f00 100%); /* El linear-gradient dice que en este caso el degradado sera hacia la derecha, desde el cero al 50% sera negro y desde el 51% al 100% sera rojo --- Si ponemos: to right, #000 50%, 51% #f00, #f00 100% (esto va hacer que la division sea mas marcada, ya que en el 51% si o si tiene que ser rojo, por lo tanto no hay lugar a degradado) */
   background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
   padding: 10rem 0;
   background-repeat: no-repeat;
   background-position: left center ;
   background-size: 100%, 80rem; /*como tenemos 2 background-image (linerar-gradient y la url con la imagen) separamos con una coma (,) el tamaño que queremos que cada uno tome */
   margin-top: 5rem;
   box-sizing: border-box;
}
 
/* Cuando Usar Flexbox y cuando Grid 
    flexbox: para la alineacion o distribucion de los elementos que estaran dentro de contenedores. 
    Grid: se usa para definir los layout de nuestro sitio web, como pueden ser la cantidad de columnas o de contenedores de elementos. 
*/
 
/* forma de ubicar y alinear el texto de "sobre nosotros" con Grid
.sobre-nosotros-position {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem; /* esto es para separar el texto 
}
 
.texto-nosotros {
    /* padding-left: 10rem (usualmente no se usa padding en CSS grid) 
    grid-column: 2 / 3;
}
*/
 
.sobre-nosotros-position {
    display: flex;
    justify-content: flex-end;
}
 
.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}
 
/* Listado de productos */
 
.contenido-principal {
    padding-top: 5rem;
}
 
.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas de 1 franccion cada una, es decir mismo tamaño para todas */
    column-gap: 2rem;
    row-gap: 2rem;
    /* gap: 2rem; (esto resume colum-gap y row-gap) */
}
 
.producto:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr; /* la comumna 1 se va dividir en 3fracciones para una cosa (en este caso imagen) y 1 fraccion para otra cosa (en este caso descripcion del producto, boton agregar a carrito y precio) */
}
 
.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
 
.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}
 
.producto:nth-child(2) img, .producto:nth-child(3) img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
}
 
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
} 
 
.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}
 
.producto:nth-child(5) {
    grid-column: 3 / 5;
}
 
.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}
 
.producto {
    background-color: #037bc0;
}
 
.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}
 
.texto-producto h3 {
    margin: 0; /* este margin anula lo puesto mas arriba con todos los headings */
}
 
.texto-producto p {
    margin: 0 0 0.5rem 0;
}
 
 
.texto-producto .precio { /* cuando ponemos dos clases sin la coma "," las propiedades van a entrar dentro de la segunda clase */
    font-size: 2.8rem;
    font-weight: 900;
}
 
 
/* Footer */
 
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: #e1e1e1;
 
}
 
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
 
.site-footer h3 {
    margin-bottom: .6rem;
    text-align: center;
}
 
.footer-menu a {
    display: block;
    text-align: center;
}
 
.copyright {
    margin: 6rem 0 6rem 0;
    text-align: center;
    padding-bottom: 2rem;
}

/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blog */

.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: bold;
}

.entrada-meta span {
    color: #037bc0;
}

.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}


/* Galeria */

.galeria {
    list-style: none ;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

/* Formulario */

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
}